.MainContent {
    background: #0B5FA5; 
    background: linear-gradient(to right, #00BFFF,  #1E90FF);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
}

.MainContent h3 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}