
.PriorutyDote {
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    margin-left: 10px;
}

.Blue {
    background-color: blue;
}

.Red {
    background-color: red;
}

.Yellow {
    background-color: rgb(250, 205, 91);
}