.CretionForm {
    width: 60%;
    height: 40%;
    margin: 10% auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.CretionForm p {
    color: black;
    text-align: center; 
    font-weight: bold;
}

.CretionForm p div {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.Wrapper {
    margin: auto;
    display:flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #00BFFF;
}

.SelectPriority {
    color: black;
    border: none;
    font-size: 16px;
}

.DateInput {
    width: 95%;
    height: 100%;
    color: black;
    border: none;
    font-size: 16px;
}