.TextItem {
    padding: 5px;
    text-transform: uppercase;
    font-size: small;
}

.Total {
    background-color: rgba(147, 112, 219, 0.5);
    color: #1F1AB2;
}

.Success {
    background-color: rgba(0, 250, 154, 0.5);
    color: #006400;
}

.Pending {
    background-color: rgba(255, 182, 193, 0.5);
    color: #FF0000;
}