.TaskListCell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.taskName {
    width: 45%;
}

.taskPriority {
    width: 20%;
}

.taskDate {
    width: 15%;
}

.taskCheck {
    width: 10%;

}

.taskDelete {
    width: 10%;
}